body {
  text-align: center;
}

.score-container {
  display: inline-block;
}

#scoreboard tr td {
  border: solid 1px black;
}

.new_game_btn {
  margin-left: 10px;
}

#gameboard {
  margin-left: -160px; /* half width of table */
  margin-top: -160px;  /* half height of table */
  position: fixed;
  top: 50%;
  left: 50%;
}

.game_cell {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  border: solid 1px black;
}

.game_cell:hover {
  background-color: white;
}
